.menu {
    background-color: #28a745;
    padding: 1em;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 1em;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}