.bookRental-container {
  .bookRental-form {
    display: flex;
    flex-direction: column;
    position: relative;

    .ant-picker-calendar {
      .ant-picker-calendar-header {
        .ant-radio-group {
          display: none;
        }
      }

      .ant-picker-panel {
        .ant-picker-cell {
          &.ant-picker-cell-selected {
            color: #1677ff;
            background-color: #e6f4ff;
          }

          .calendar-cell {
            margin: 0 4px;
            padding: 4px 8px 0;
            border-top: 2px solid #0505050f;
            transition: background-color 0.3s;

            &:hover {
              background-color: #f5f5f5;
            }

            &.start-date,
            &.range-date,
            &.end-date {
              color: #1677ff;
              background-color: #e6f4ff;
            }

            &.today {
              border-top: 2px solid #1677ff;
            }

            .calendar-date {
              line-height: 24px;
            }

            .calendar-content {
              width: auto;
              height: 86px;
              color: #000000e0;
              text-align: start;
            }
          }
        }
      }
    }

    .bookEvent-content {
      position: absolute;

      .event {
        position: absolute;
        padding: 2px 5px;
        border-radius: 4px;
        background-color: #ffe6e6;

        &.self {
          color: #e6f4ff;
          background-color: #5055b1;
        }
      }
    }

    .ant-btn {
      margin-left: auto;
      background-color: #5055b1;
    }
  }
}
