.bookRental-container {
  .bookRental-form {
    display: flex;
    flex-direction: column;
    position: relative;

    .ant-picker-calendar {
      .ant-picker-cell {
        &.ant-picker-cell-selected {
          color: #1677ff;
          background-color: #e6f4ff;
        }

        &.ant-picker-cell-today {
          .calendar-cell {
            border-top: 2px solid #1677ff;
          }
        }

        .calendar-cell {
          margin: 0 4px;
          padding: 4px 8px 0;
          border-top: 2px solid #0505050f;
          transition: background-color 0.3s;

          &:hover {
            background-color: #f5f5f5;
          }

          &.start-date,
          &.range-date,
          &.end-date {
            color: #1677ff;
            background-color: #e6f4ff;
          }

          .calendar-date {
            line-height: 24px;
          }

          .calendar-content {
            width: auto;
            height: 86px;
            color: #000000e0;
            text-align: start;
          }
        }
      }
    }

    .ant-btn {
      margin-left: auto;
    }
  }
}
