.bookList-container {
  .bookList-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .bookSearch-form {
      display: flex;
      gap: 5px;

      .ant-select {
        width: 200px;
      }

      .ant-input-group-wrapper {
        width: 300px;
      }

      .ant-btn {
        margin-left: auto;
      }
    }

    .bookData-form {
      border-top: 1px solid #d5d5d5;

      .ant-list {
        .ant-list-items {
          .ant-list-item {
            display: flex;
            justify-content: flex-start;
            gap: 50px;
            padding: 30px 50px;

            .bookData-header {
              width: 10%;
            }

            .bookData-body {
              display: flex;
              flex-direction: column;
              gap: 10px;
              padding-top: 10px;
              width: 50%;

              .author {
                display: flex;
                gap: 5px;

                span {
                  color: #767676;
                }
              }

              .rate-form {
                display: flex;
                align-items: center;
                gap: 5px;

                .ant-rate {
                  font-size: 13px;
                }

                .gap {
                  color: #767676;
                  font-size: 13px;
                }

                .tag-content {
                  display: flex;
                  gap: 5px;
                  margin-top: 3px;
                  font-size: 13px;
                  font-weight: bold;

                  &.grate {
                    color: green;
                  }

                  &.good {
                    color: gold;
                  }

                  &.neutral {
                    color: gray;
                  }

                  &.poor {
                    color: orange;
                  }

                  &.bad {
                    color: red;
                  }
                }
              }
            }

            .bookData-state {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              gap: 10px;
              width: 20%;

              .state {
                padding: 2px 10px;
                background-color: #f7f7f7;
                border: 1px solid #f7f7f7;
                border-radius: 20px;

                &.blinking-text {
                  color: #5055b1;
                  animation: blink 1s infinite;
                }
              }
            }

            .bookData-footer {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;

              .ant-space {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}

.ant-modal-root {
  .ant-modal-content {
    .ant-modal-body {
      .detailView-form {
        display: flex;
        gap: 5px;

        .ant-tabs {
          flex: 1;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
