.bookList-container {
  .bookList-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .bookSearch-form {
      display: flex;
      gap: 5px;

      .ant-select {
        width: 200px;
      }

      .ant-input-group-wrapper {
        width: 300px;
      }

      .ant-btn {
        margin-left: auto;
      }
    }
  }
}

.ant-modal-root {
  .ant-modal-content {
    .ant-modal-body {
      .detailView-form {
        display: flex;
        gap: 5px;

        .ant-tabs {
          flex: 1;
        }
      }
    }
  }
}
