.ant-modal-header {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.ant-modal-body {
  margin-top: 20px;
}

.bookSearch_method {
  margin-bottom: 15px;
  text-align: center;
}

.bookSearchAPI-container {
  .bookSearchAPI-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .bookSearch-header {
      display: flex;
      gap: 5px;

      .bookSearch_searchbar {
        padding: 20;
      }

      .ant-btn {
        &.ant-btn-primary {
          background-color: #5055b1;
        }
      }
    }

    .bookSearch-body {
      width: 100%;
      height: auto;

      .bookSearch_modal {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 400px;
        overflow: auto;

        .book_radio {
          margin-top: 15px;
          width: 98%;

          > span:first-child {
            width: 16px;
          }

          > span:last-child {
            width: 100%;
          }
        }
      }
    }
  }
}

.bookSearch_Descriptions .ant-descriptions-row .ant-descriptions-item-label {
  width: 220px;
  padding: 5px 5px;
}
