.bookSearch_tag {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.bookSearch_searchbar {
    padding: 20;
}

.bookSearch_method {
    margin-bottom: 20;
    text-align: center;
}

.bookSearch_modal {
    height: 340px;
    overflow: auto;
}

.book_radio {
    width: 100%;
    margin: 0;
}

.book_radio > span:first-child {
    width: 16px;
}

.book_radio > span:last-child {
    width: 16px;
    flex-grow: 1;
}

.bookSearch_modal2 {
    height: 340px;
    overflow: auto;
}

.book_radio2 {
    width: 100%;
    margin: 0;
}

.book_radio2 > span:last-child {
    width: 900px;
}